USE [master]
GO
/****** Object:  Database [KhachSan]    Script Date: 13/11/2019 12:47:55 ******/
CREATE DATABASE [KhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KhachSan', FILENAME = N'E:\Data\KhachSan.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KhachSan_log', FILENAME = N'E:\Data\KhachSan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KhachSan]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDoan]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDoan]()
RETURNS NVARCHAR(20)
AS
BEGIN
	DECLARE @ID NVARCHAR(20)
	DECLARE @length int
	IF (SELECT COUNT(maDoan) FROM Doan) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maDoan,6))) FROM Doan
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'D00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'D0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'D0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'D000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'D000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'D00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'D00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'D0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'D0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'D' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDV]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDV]()
RETURNS NVARCHAR(8)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maDV) FROM DichVu) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maDV,6))) FROM DichVu
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'DV00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'DV0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'DV0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'DV000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'KH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'DV00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'DV00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'DV0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'DV0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'DV' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHDDV]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDHDDV]()
RETURNS nvarchar(10)
AS
BEGIN
	DECLARE @ID nvarchar(10)
	DECLARE @length int
	IF (SELECT COUNT(maHDDV) FROM HoaDonDichVu) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maHDDV,6))) FROM HoaDonDichVu
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'HDTP00000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'HDTP0000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'HDTP0000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'HDTP000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'HDTP000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'HDTP00' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'HDTP00' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'HDTP0' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'HDTP0' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'HDTP' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHDTP]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDHDTP]()
RETURNS nvarchar(10)
AS
BEGIN
	DECLARE @ID nvarchar(10)
	DECLARE @length int
	IF (SELECT COUNT(maHDPhong) FROM HoaDonTienPhong) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maHDPhong,6))) FROM HoaDonTienPhong
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'HDTP00000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'HDTP0000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'HDTP0000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'HDTP000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'HDTP000' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'HDTP00' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'HDTP00' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'HDTP0' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'HDTP0' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'HDTP' +CONVERT(nvarchar(10), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS NVARCHAR(20)
AS
BEGIN
	DECLARE @ID NVARCHAR(20)
	DECLARE @length int
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(MaKH,6))) FROM KHACHHANG
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'KH00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'KH0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'KH0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'KH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'KH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'KH00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'KH00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'KH0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'KH0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'KH' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLP]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDLP]()
RETURNS NVARCHAR(8)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maLoaiPhong) FROM LoaiPhong) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maLoaiPhong,6))) FROM LoaiPhong
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'LP00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'LP0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'LP0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'LP000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'LP000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'LP00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'LP00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'LP0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'LP0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'LP' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNV]()
RETURNS NVARCHAR(8)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maNV) FROM NhanVien) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maNV,6))) FROM NhanVien
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'NV00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'NV0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'KH0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'NV000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'KH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'NV00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'NV00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'NV0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'NV0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'NV' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPH]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPH]()
RETURNS NVARCHAR(8)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maPhong) FROM Phong) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maPhong,6))) FROM Phong
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'PH00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'PH0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'PH0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'PH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'PH000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'PH00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'PH00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'PH0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'PH0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'PH' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTP]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTP]()
RETURNS NVARCHAR(8)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maThue) FROM ThuePhong) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maThue,6))) FROM ThuePhong
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'TP00000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'TP0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'TP0000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'TP000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'TP000' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'TP00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'TP00' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'TP0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'TP0' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'TP' +CONVERT(NVARCHAR(8), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_TenPhong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_TenPhong]()
RETURNS NVARCHAR(50)
AS
BEGIN
	DECLARE @ID NVARCHAR(8)
	DECLARE @length int
	IF (SELECT COUNT(maPhong) FROM Phong) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = convert(int,MAX(right(maPhong,6))) FROM Phong
		set @length=len(@ID)
		 select @ID= case
				when @length=1 and @ID<9 then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when @ID=9 then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when (@ID>9 and @length=2) and (@length=2 and @ID<99) then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when @ID=99 then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when (@ID>99 and @length=3) and (@length=3 and @ID<999) then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when @ID=999 then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when (@ID>999 and @length=4) and(@length=4 and @ID<9999) then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when @ID=9999 then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when (@ID>9999 and @length=5) and (@length=5 and @ID<99999) then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)
				when (@ID>99999 and @length=6) and (@length=6 and @ID<999999) then 'Phòng ' +CONVERT(NVARCHAR(50), CONVERT(INT, @ID) + 1)

			end
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[maThue] [nvarchar](8) NOT NULL,
	[maKhach] [nvarchar](8) NOT NULL,
	[maPhong] [nvarchar](8) NOT NULL,
	[maDV] [nvarchar](8) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDichVu] PRIMARY KEY CLUSTERED 
(
	[maThue] ASC,
	[maKhach] ASC,
	[maPhong] ASC,
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietThuePhong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThuePhong](
	[maThue] [nvarchar](8) NOT NULL,
	[maKhach] [nvarchar](8) NOT NULL,
	[maPhong] [nvarchar](8) NOT NULL,
	[ngayVao] [datetime] NOT NULL,
	[ngayRa] [datetime] NOT NULL,
	[gioVao] [time](7) NOT NULL,
	[gioRa] [time](7) NOT NULL,
	[trangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK_ChiTietThuePhong_1] PRIMARY KEY CLUSTERED 
(
	[maThue] ASC,
	[maKhach] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDV] [nvarchar](8) NOT NULL CONSTRAINT [DF_DV]  DEFAULT ([dbo].[AUTO_IDDV]()),
	[tenDichVu] [nvarchar](50) NULL,
	[donGia] [money] NULL,
	[soLuongDV] [int] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doan]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doan](
	[maDoan] [nvarchar](7) NOT NULL,
	[tenDoan] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[maTruongDoan] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_KhachDoan] PRIMARY KEY CLUSTERED 
(
	[maDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonDichVu]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDichVu](
	[maHDDV] [nvarchar](10) NOT NULL,
	[maThue] [nvarchar](8) NOT NULL,
	[maPhong] [nvarchar](8) NOT NULL,
	[maKhach] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_HoaDonDichVu] PRIMARY KEY CLUSTERED 
(
	[maHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonTienPhong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonTienPhong](
	[maHDPhong] [nvarchar](10) NOT NULL CONSTRAINT [DF_HDTP]  DEFAULT ([dbo].[AUTO_IDHDTP]()),
	[maThue] [nvarchar](8) NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[gioLap] [time](7) NOT NULL,
	[thueVAT] [float] NOT NULL,
	[khuyenMai] [float] NULL,
	[tienKhac] [money] NULL,
	[ghiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nvarchar](8) NOT NULL CONSTRAINT [DF_KH]  DEFAULT ([dbo].[AUTO_IDKH]()),
	[tenKh] [nvarchar](50) NOT NULL,
	[soCMND] [nchar](20) NOT NULL,
	[gioiTinh] [tinyint] NOT NULL,
	[soDT] [nchar](11) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [nvarchar](8) NOT NULL CONSTRAINT [DF_LP]  DEFAULT ([dbo].[AUTO_IDLP]()),
	[tenLoaiPhong] [nvarchar](50) NULL,
	[donGia] [money] NULL,
	[soNguoiToiDa] [int] NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](8) NOT NULL CONSTRAINT [DF_NV]  DEFAULT ([dbo].[AUTO_IDNV]()),
	[tenNV] [nvarchar](50) NOT NULL,
	[soCMND] [nchar](20) NOT NULL,
	[gioiTinh] [tinyint] NOT NULL,
	[ngaySinh] [datetime] NOT NULL,
	[soDT] [nchar](11) NOT NULL,
	[chucVu] [tinyint] NOT NULL,
	[passWord] [varchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nvarchar](8) NOT NULL CONSTRAINT [DF_PH]  DEFAULT ([dbo].[AUTO_IDPH]()),
	[maLoaiPhong] [nvarchar](8) NOT NULL,
	[tenPhong] [nvarchar](50) NOT NULL CONSTRAINT [DF_TienPhong]  DEFAULT ([dbo].[AUTO_TenPhong]()),
	[tang] [int] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
	[ghiChu] [nvarchar](50) NULL,
	[soNguoiHienTai] [int] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThuePhong]    Script Date: 13/11/2019 12:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuePhong](
	[maThue] [nvarchar](8) NOT NULL CONSTRAINT [DF_TP]  DEFAULT ([dbo].[AUTO_IDTP]()),
	[maNV] [nvarchar](8) NOT NULL,
	[soLuongPhong] [int] NOT NULL,
	[maDoan] [nvarchar](7) NULL,
	[trangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK_ThuePhong] PRIMARY KEY CLUSTERED 
(
	[maThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietDichVu] ([maThue], [maKhach], [maPhong], [maDV], [soLuong]) VALUES (N'TP000001', N'KH000003', N'PH000029', N'DV000001', 3)
INSERT [dbo].[ChiTietDichVu] ([maThue], [maKhach], [maPhong], [maDV], [soLuong]) VALUES (N'TP000001', N'KH000003', N'PH000029', N'DV000002', 3)
INSERT [dbo].[ChiTietDichVu] ([maThue], [maKhach], [maPhong], [maDV], [soLuong]) VALUES (N'TP000004', N'KH000010', N'PH000017', N'DV000001', 2)
INSERT [dbo].[ChiTietThuePhong] ([maThue], [maKhach], [maPhong], [ngayVao], [ngayRa], [gioVao], [gioRa], [trangThai]) VALUES (N'TP000001', N'KH000003', N'PH000029', CAST(N'2019-11-10 00:00:00.000' AS DateTime), CAST(N'2019-11-29 00:00:00.000' AS DateTime), CAST(N'08:22:05' AS Time), CAST(N'14:00:00' AS Time), 0)
INSERT [dbo].[ChiTietThuePhong] ([maThue], [maKhach], [maPhong], [ngayVao], [ngayRa], [gioVao], [gioRa], [trangThai]) VALUES (N'TP000002', N'KH000015', N'PH000028', CAST(N'2019-11-10 00:00:00.000' AS DateTime), CAST(N'2019-11-28 00:00:00.000' AS DateTime), CAST(N'18:30:41' AS Time), CAST(N'14:00:00' AS Time), 0)
INSERT [dbo].[ChiTietThuePhong] ([maThue], [maKhach], [maPhong], [ngayVao], [ngayRa], [gioVao], [gioRa], [trangThai]) VALUES (N'TP000003', N'KH000012', N'PH000027', CAST(N'2019-11-10 00:00:00.000' AS DateTime), CAST(N'2019-11-22 00:00:00.000' AS DateTime), CAST(N'19:21:46' AS Time), CAST(N'14:00:00' AS Time), 0)
INSERT [dbo].[DichVu] ([maDV], [tenDichVu], [donGia], [soLuongDV]) VALUES (N'DV000001', N' Nước lọc', 10000.0000, 1812)
INSERT [dbo].[DichVu] ([maDV], [tenDichVu], [donGia], [soLuongDV]) VALUES (N'DV000002', N'Nước ngọt Minrinda', 15000.0000, 1337)
INSERT [dbo].[DichVu] ([maDV], [tenDichVu], [donGia], [soLuongDV]) VALUES (N'DV000003', N'Nước trái cây', 20000.0000, 254)
INSERT [dbo].[HoaDonTienPhong] ([maHDPhong], [maThue], [ngayLap], [gioLap], [thueVAT], [khuyenMai], [tienKhac], [ghiChu]) VALUES (N'HDTP000001', N'TP000010', CAST(N'2019-11-11 00:00:00.000' AS DateTime), CAST(N'21:23:19' AS Time), 0, 0, 0.0000, NULL)
INSERT [dbo].[HoaDonTienPhong] ([maHDPhong], [maThue], [ngayLap], [gioLap], [thueVAT], [khuyenMai], [tienKhac], [ghiChu]) VALUES (N'HDTP000002', N'TP000009', CAST(N'2019-11-12 00:00:00.000' AS DateTime), CAST(N'00:13:32' AS Time), 0, 0, 0.0000, NULL)
INSERT [dbo].[HoaDonTienPhong] ([maHDPhong], [maThue], [ngayLap], [gioLap], [thueVAT], [khuyenMai], [tienKhac], [ghiChu]) VALUES (N'HDTP000003', N'TP000008', CAST(N'2019-11-12 00:00:00.000' AS DateTime), CAST(N'00:16:16' AS Time), 0, 0, 0.0000, NULL)
INSERT [dbo].[KhachHang] ([maKH], [tenKh], [soCMND], [gioiTinh], [soDT]) VALUES (N'KH000001', N'Nguyễn Thị Thanh Thảo', N'0272626953          ', 0, N'0379301852 ')
INSERT [dbo].[KhachHang] ([maKH], [tenKh], [soCMND], [gioiTinh], [soDT]) VALUES (N'KH000002', N'Lê Ánh Dương', N'0296314566          ', 0, N'0369885211 ')
INSERT [dbo].[KhachHang] ([maKH], [tenKh], [soCMND], [gioiTinh], [soDT]) VALUES (N'KH000003', N'Trịnh Tú Trung', N'0203690932          ', 1, N'0168523221 ')
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [donGia], [soNguoiToiDa]) VALUES (N'LP000001', N'Normal', 350000.0000, 1)
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [donGia], [soNguoiToiDa]) VALUES (N'LP000002', N'Double', 600000.0000, 3)
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [donGia], [soNguoiToiDa]) VALUES (N'LP000003', N'Triple', 700000.0000, 4)
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soCMND], [gioiTinh], [ngaySinh], [soDT], [chucVu], [passWord], [email]) VALUES (N'NV000001', N'Đỗ Thành Thị Qúy Phi', N'272695530           ', 1, CAST(N'1990-08-08 00:00:00.000' AS DateTime), N'0685220001 ', 0, N'123456@             ', N'admin@gmail.com')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soCMND], [gioiTinh], [ngaySinh], [soDT], [chucVu], [passWord], [email]) VALUES (N'NV000002', N'Nguyễn Thị Hoa Lan', N'262629637           ', 0, CAST(N'1993-01-12 00:00:00.000' AS DateTime), N'0385523322 ', 0, N'123456', N'admin1@gmail.com')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soCMND], [gioiTinh], [ngaySinh], [soDT], [chucVu], [passWord], [email]) VALUES (N'NV000003', N'Trương Đan Phong', N'262712100           ', 1, CAST(N'1998-02-02 00:00:00.000' AS DateTime), N'0386236660 ', 0, N'123456              ', N'admin2@gmail.com')
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tenPhong], [tang], [tinhTrang], [ghiChu], [soNguoiHienTai]) VALUES (N'PH000001', N'LP000001', N'Phòng 1', 1, 0, N'', 0)
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tenPhong], [tang], [tinhTrang], [ghiChu], [soNguoiHienTai]) VALUES (N'PH000002', N'LP000001', N'Phòng 2', 1, 0, NULL, 0)
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tenPhong], [tang], [tinhTrang], [ghiChu], [soNguoiHienTai]) VALUES (N'PH000003', N'LP000001', N'Phòng 3', 2, 0, NULL, 0)
INSERT [dbo].[ThuePhong] ([maThue], [maNV], [soLuongPhong], [maDoan], [trangThai]) VALUES (N'TP000001', N'NV000001', 1, NULL, 0)
INSERT [dbo].[ThuePhong] ([maThue], [maNV], [soLuongPhong], [maDoan], [trangThai]) VALUES (N'TP000002', N'NV000001', 1, NULL, 0)
INSERT [dbo].[ThuePhong] ([maThue], [maNV], [soLuongPhong], [maDoan], [trangThai]) VALUES (N'TP000003', N'NV000001', 1, NULL, 0)
ALTER TABLE [dbo].[Doan] ADD  CONSTRAINT [DF_Doan]  DEFAULT ([dbo].[AUTO_IDDoan]()) FOR [maDoan]
GO
ALTER TABLE [dbo].[HoaDonDichVu] ADD  CONSTRAINT [DF_HDDV]  DEFAULT ([dbo].[AUTO_IDHDDV]()) FOR [maHDDV]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_ChiTietThuePhong] FOREIGN KEY([maThue], [maKhach], [maPhong])
REFERENCES [dbo].[ChiTietThuePhong] ([maThue], [maKhach], [maPhong])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_ChiTietThuePhong]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThuePhong_KhachHang] FOREIGN KEY([maKhach])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[ChiTietThuePhong] CHECK CONSTRAINT [FK_ChiTietThuePhong_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThuePhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietThuePhong] CHECK CONSTRAINT [FK_ChiTietThuePhong_Phong]
GO
ALTER TABLE [dbo].[ChiTietThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThuePhong_ThuePhong] FOREIGN KEY([maThue])
REFERENCES [dbo].[ThuePhong] ([maThue])
GO
ALTER TABLE [dbo].[ChiTietThuePhong] CHECK CONSTRAINT [FK_ChiTietThuePhong_ThuePhong]
GO
ALTER TABLE [dbo].[HoaDonDichVu]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDichVu_ChiTietThuePhong] FOREIGN KEY([maKhach], [maThue], [maPhong])
REFERENCES [dbo].[ChiTietThuePhong] ([maThue], [maKhach], [maPhong])
GO
ALTER TABLE [dbo].[HoaDonDichVu] CHECK CONSTRAINT [FK_HoaDonDichVu_ChiTietThuePhong]
GO
ALTER TABLE [dbo].[HoaDonTienPhong]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonTienPhong_ThuePhong] FOREIGN KEY([maThue])
REFERENCES [dbo].[ThuePhong] ([maThue])
GO
ALTER TABLE [dbo].[HoaDonTienPhong] CHECK CONSTRAINT [FK_HoaDonTienPhong_ThuePhong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThuePhong_Doan] FOREIGN KEY([maDoan])
REFERENCES [dbo].[Doan] ([maDoan])
GO
ALTER TABLE [dbo].[ThuePhong] CHECK CONSTRAINT [FK_ThuePhong_Doan]
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThuePhong_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[ThuePhong] CHECK CONSTRAINT [FK_ThuePhong_NhanVien]
GO
USE [master]
GO
